.header{
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.logo{
    height: 100px;
    margin-left: 200px;
}

.logo img{
    height: 90px;
}

.camera-icon{
    width: 5px;
    align-self: center;
    margin-left: auto;
    margin-right: 380px;
}

.camera-icon img{
    width: 100px;
}